@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {

}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

@media (max-width: 768px) {
  .snap-mandatory {
    scroll-snap-type: x mandatory;
  }
  .grid-cols-1 > div {
    grid-column: span 1 !important;
    grid-row: span 1 !important;
  }
}

/* For larger screens maintain bento layout */
@media (min-width: 769px) {
  .aspect-square {
    aspect-ratio: 1;
  }
  
  [class*="row-span"] {
    height: 100%;
  }
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 0.3px rgb(35, 35, 35);
    color: white; /* or transparent for hollow text */
  }
  
  .transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .duration-700 {
    transition-duration: 700ms;
  }
}

.footer-bg {
  background-image: url('/rock.svg'); /* Place your SVG in public/footer-bg.svg */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: filter 0.3s;
}